{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    {% if request.user.pk == user_id or request.user.is_staff %}
        <!-- breadcrumb-section -->
        <div class="breadcrumb-section breadcrumb-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="breadcrumb-text">
                            <p>Fresh and Organic</p>
                            <h1>Cart</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end breadcrumb section -->

        <!-- cart -->
        <div class="cart-section mt-150 mb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="cart-table-wrap">
                            <table class="cart-table">
                                <thead class="cart-table-head">
                                <tr class="table-head-row">
                                    <th class="product-remove"></th>
                                    <th class="product-image">Product Image</th>
                                    <th class="product-name">Name</th>
                                    <th class="product-price">Price per KG</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for product in cart.product_set.all %}
                                    <tr class="table-body-row">
                                        <td class="product-remove"><a
                                                href="{% url 'remove-product-page' product_id=product.pk %}"><i
                                                class="far fa-window-close"></i></a></td>
                                        <td class="product-image"><img src="{{ product.picture }}"
                                                                       alt=""></td>
                                        <td class="product-name">{{ product.name }}</td>
                                        <td class="product-price">$<span id="price">{{ product.price }}</span></td>
                                        <td class="product-quantity"><input class="quantity" type="number"
                                                                            placeholder="0"><span
                                                style="margin-left: 10px">KG</span></td>
                                        <td class="product-total">1</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="total-section">
                            <table class="total-table">
                                <thead class="total-table-head">
                                <tr class="table-total-row">
                                    <th>Total</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="total-data">
                                    <td><strong>Subtotal: </strong></td>
                                    <td>$<span id="sum">0</span></td>
                                </tr>
                                <tr class="total-data">
                                    <td><strong>Shipping: <span style="font-size: 10px; margin-left: 5px">(Free shipping over $75)</span></strong>
                                    </td>
                                    <td id="shipping">$20</td>
                                </tr>
                                <tr class="total-data">
                                    <td><strong>Total: </strong></td>
                                    <td>$<span id="final">20</span></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="cart-buttons">
                                <a class="boxed-btn" style="width: 140px; text-align: center" id="update-button">
                                    Update Cart
                                </a>
                                <a href="{% url 'checkout-page' %}" class="boxed-btn black"
                                   style="width: 140px; text-align: center">Check Out</a>
                            </div>
                        </div>
                        </form>

                        {#                    <div class="coupon-section">#}
                        {#                        <h3>Apply Coupon</h3>#}
                        {#                        <div class="coupon-form-wrap">#}
                        {#                            <form action="../common/index.html">#}
                        {#                                <p><input type="text" placeholder="Coupon"></p>#}
                        {#                                <p><input type="submit" value="Apply"></p>#}
                        {#                            </form>#}
                        {#                        </div>#}
                        {#                    </div>#}
                    </div>
                </div>
            </div>
        </div>
        <!-- end cart -->
        <script src="{% static 'js/custom/cart-updater.js' %}"></script>
    {% else %}
        <div style="padding: 100px; text-align: center;margin-top: 100px;margin-bottom: 100px">
            <h1>Permission Error</h1>
            <h3>Cannot render sources due to permission error.</h3>
        </div>
    {% endif %}
{% endblock %}