{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block page_content %}


    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Fresh and Organic</p>
                        <h1>Check Out Product</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- check out section -->
    <div class="checkout-section mt-150 mb-150">
        <div class="container" style="margin-left: 580px">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-accordion-wrap">
                        <div class="accordion" id="accordionExample">
                            <div class="card single-accordion">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            Billing Address
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="billing-address-form">
                                            <form style="display: flex; flex-direction: column"
                                                  action="{% url 'checkout-page' %}" method="post">
                                                <p>{{ form.first_name.errors }}</p>
                                                <p>{{ form.first_name | placeholder:'First Name' }}</p>
                                                <p>{{ form.last_name.errors }}</p>
                                                <p>{{ form.last_name | placeholder:'Last Name' }}</p>
                                                <p>{{ form.email.errors }}</p>
                                                <p>{{ form.email | placeholder:'Email' }}</p>
                                                <p>{{ form.phone.errors }}</p>
                                                <p>{{ form.phone | placeholder:'Phone Number' }}</p>
                                                <p>{{ form.address.errors }}</p>
                                                <p>{{ form.address | placeholder:'Address Information' }}</p>
                                                <button class="boxed-btn"
                                                        style="text-align: center; width: 30%; margin-left: 35%; background-color: darkorange; border: transparent; color: white; border-radius: 24px; height: 35px">
                                                    Place
                                                    Order
                                                </button>
                                                {% csrf_token %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}