{% extends 'base.html' %}
{% block page_content %}
    <h1 style="padding-top: 150px; padding-bottom: 100px; margin-left: 35%">Completed Orders</h1>
    <div style="display: flex; flex-wrap: wrap; justify-content: center">
        <table style="width: 1000px; margin-bottom: 50px; margin-top: 30px">
            <tr style="display: flex; gap: 75px; border: 1px solid gray">
                <th style="padding: 10px; margin-left: 5px">ID</th>
                <th style="padding: 10px; margin-left: 20px">Order Date</th>
                <th style="padding: 10px; margin-left: 10px">Recipient Name</th>
                <th style="padding: 10px; margin-left: 5px">Phone Number</th>
                <th style="padding: 10px; margin-left: 5px">Shipping Address</th>
            </tr>
            {% for order in orders %}
                <tr style="padding: 8px; display: flex; gap: 40px; border: 1px solid gray">
                    <td style="width: 10%; margin-left: 10px">{{ order.pk }}</td>
                    <td style="width: 20%; margin-left: 10px">{{ order.date }}</td>
                    <td style="width: 20%; margin-left: 5px">{{ order.first_name }} {{ order.last_name }}</td>
                    <td style="width: 20%; margin-left: 5px">{{ order.phone }}</td>
                    <td style="width: 30%; margin-left: 10px">{{ order.address }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
