{% extends 'base.html' %}
{% block page_content %}
    {% load custom_filters %}
    <div style="padding: 150px; margin-left: 35%">
        <h3 style="margin-left: 7%">Login Form</h3>
        <form method="post" action="{% url 'login' %}"
              style="display: flex; flex-direction: column; width: 30%; gap: 10px;">
            {{ form.username.errors }}
            {{ form.username }}
            {{ form.password.errors }}
            {{ form.password }}
            <button style="margin-top: 10px; margin-bottom: 10px; border-radius: 24px; background-color: darkorange; border-color: transparent; color: white">
                Submit
            </button>
            {% csrf_token %}
        </form>
        <p>Don't have an account?<a style="margin-left: 5px" href="{% url 'register' %}">Register Now</a></p>
    </div>
{% endblock %}
