{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    {% if request.user.pk == object.pk or request.user.is_staff %}
        <div style="margin-left: 40%;padding-bottom: 50px; padding-top: 100px" class="profile">

            <!-- Start Profile Personal Data Section -->
            <div class="profile-data"
                 style="width: 500px;border: 2px solid black;padding: 30px;display: flex;flex-direction: column;border-radius: 16px">
                <div class="profile_img" style="text-align: center">
                    <div class="image">
                        <h2>
                            Profile Details
                            <!-- Link to Edit Profile Page -->
                            <a style="" href="{% url 'profile-edit' pk=object.pk %}">
                                <img style="width: 20px;margin-left: 10px" class="edit-img"
                                     src="/static/images/edit-pen-icon-6.jpg"
                                     alt="edit button">
                            </a>

                            <!-- Link to Delete Profile Page -->
                            <a href="{% url 'profile-delete' pk=object.pk %}">
                                <img style="width: 20px;" class="bin-img"
                                     src="/static/images/icon-remove-22.jpg"
                                     alt="bin button">
                            </a>
                        </h2>
                        <!-- Profile Image -->
                        {% if not object.profile_picture %}
                            <img style="width: 300px" src="{% static '/images/person.png' %}" alt="img8">
                        {% else %}
                            <img style="width: 300px; border-radius: 12px" src="{{ object.profile_picture }}"
                                 alt="img8">
                        {% endif %}
                    </div>
                </div>
                <div class="personal" style="display: flex; flex-direction: column; gap: 5px">
                    <!-- User Username -->
                    <p style="font-size: 30px;"> Username: <span style="font-weight: bold">{{ object.username }}</span>
                    </p>


                    <!-- User First and Last Name IF Added -->

                    {% if object.full_name is not None %}
                        <p style="font-size: 30px">Name: {{ object.full_name }}</p>
                    {% else %}
                        <p style="font-size: 30px">Name: Not set</p>
                    {% endif %}


                    <!-- User Email Address -->
                    <p style="font-size: 30px" class="email"> Email: {{ object.email }}</p>

                    <!-- User Gender IF Added -->
                    {% if request.user.gender %}
                        <p style="font-size: 30px;" class="gender">Gender: {{ object.gender }}</p>
                    {% else %}
                        <p style="font-size: 30px;" class="gender">Gender: Not set</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div style="padding: 100px; text-align: center;margin-top: 100px;margin-bottom: 100px">
            <h1>Permission Error</h1>
            <h3>Cannot render sources due to permission error.</h3>
        </div>
    {% endif %}

{% endblock %}