{% extends 'base.html' %}
{% block page_content %}
    {% load custom_filters %}
    {% if request.user.pk == object.pk or request.user.is_staff %}
        <div style="padding: 100px; margin-left: 35%; width: 70%;">

            <h3 style="margin-left: 8%; color: darkorange">Edit Profile</h3>
            <form method="post" action="{% url 'profile-edit' pk=object.pk %}"
                  style="display: flex; flex-direction: column; width: 30%; gap: 10px;">
                {{ form.username.errors }}
                {{ form.username | disable_field }}
                {{ form.email.errors }}
                {{ form.email | placeholder:'Email' }}
                {{ form.first_name.errors }}
                {{ form.first_name | placeholder:'First Name' }}
                {{ form.last_name.errors }}
                {{ form.last_name | placeholder:'Last Name' }}
                {{ form.gender | placeholder:'Gender' }}
                {{ form.profile_picture.errors }}
                {{ form.profile_picture | placeholder:'Picture URL' }}
                {{ form.phone_number.errors }}
                {{ form.phone_number | placeholder:'Phone Number' }}
                <button style="margin-top: 10px; margin-bottom: 10px; border-radius: 24px; background-color: darkorange; color: white; border-color: transparent">
                    Submit
                </button>
                {% csrf_token %}
            </form>
        </div>
    {% else %}
        <div style="padding: 100px; text-align: center;margin-top: 100px;margin-bottom: 100px">
            <h1>Permission Error</h1>
            <h3>Cannot render sources due to permission error.</h3>
        </div>
    {% endif %}
{% endblock %}