{% extends 'base.html' %}
{% block page_content %}

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Fresh and Organic</p>
                        <h1>Shop</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- products -->
    <div class="product-section mt-150 mb-150">
        <div class="container" style="max-width: 1600px">

            <div style="display: flex; flex-wrap: wrap;gap: 10px">
                {% for product in all_products %}
                    <div style="width: 380px;box-shadow: 1px 1px 10px gray" class="single-product-item">
                        <div class="product-image" style="height: 300px">
                            <a href="{% url 'single-product-page' pk=product.pk %}"><img style="height: 270px" src="{{ product.picture }}"
                                                                                         alt="picture of product"></a>
                        </div>
                        <div style="display: flex; justify-content: center;gap: 20px">
                            <h3>{{ product.name }}</h3>
                            <p class="product-price"><span>Per Kg</span> {{ product.price }}$ </p>
                            <a style="width: 150px; height: 45px"
                               href="{% url 'add-to-cart-page' product_id=product.pk %}"
                               class="cart-btn"><i
                                    class="fas fa-shopping-cart"></i> Add to
                                Cart</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end products -->

{% endblock %}