{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>Fruity</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/site-logo.png' %}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static '/assets/css/all.min.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}">
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static '/assets/css/owl.carousel.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static '/assets/css/magnific-popup.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static '/assets/css/animate.css' %}">
    <!-- mean menu css -->
    <link rel="stylesheet" href="{% static '/assets/css/meanmenu.min.css' %}">
    <!-- main style -->
    <link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
    <!-- responsive -->
{#    <link rel="stylesheet" href="{% static '/assets/css/responsive.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/responsive-css.css' %}">
</head>
<body>

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker" style="width: 100%;">
    <div class="row">
        <div class="col-lg-12 col-sm-12 text-center">
            <div class="main-menu-wrap" style="position: fixed; width: 100%; top: 0; background-color: #374b56;">
                <!-- logo -->
                <div class="site-logo">
                    <a href="{% url 'landing-page' %}">
                        <img style="margin-left: 15px; width: 60px;height: 60px; border-radius: 100px"
                             src="{% static 'images/site-logo.png' %}" alt="">
                    </a>
                </div>
                <!-- logo -->

                <!-- menu start -->
                <nav class="main-menu">
                    <ul style="background-color: #374b56; margin-top: 5px">
                        <li class="current-list-item"><a href="{% url 'landing-page' %}">Home</a>
                        </li>
                        <li><a style="color: darkorange" href="{% url 'about-page' %}">About</a></li>
                        <li><a style="color: darkorange" href="{% url 'shop-page' %}">Shop</a>
                        <li><a style="color: darkorange" href="{% url 'contact-form-page' %}">Contact</a>
                        </li>
                        {% if not request.user.is_authenticated %}
                            <div style="display: inline-block; margin-left: 70%; margin-top: 5px">
                                <li><a style="color: darkorange" href="{% url 'register' %}">Register</a></li>
                                <li><a style="color: darkorange" href="{% url 'login' %}">Login</a></li>
                            </div>
                        {% else %}
                            {% if request.user.is_staff %}
                                <li><a style="color: darkorange;"
                                       href="{% url 'create-product-page' %}">Add Product</a></li>
                            {% endif %}
                            <div style="display: inline-block; margin-left: 55%">
                                <li><a style="color: darkorange"
                                       href="{% url 'profile' pk=request.user.pk %}">Profile</a></li>
                                <li><a style="color: darkorange;"
                                       href="{% url 'history' %}">History</a></li>
                                <li><a style="color: darkorange" href="{% url 'logout' %}">Logout</a></li>
                                <li><a class="shopping-cart" href="{% url 'cart-page' user_id=request.user.pk %}"><i
                                        class="fas fa-shopping-cart"></i></a></li>
                            </div>

                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% block page_content %}
{% endblock %}

<!-- footer -->
<div class="footer-area">
    <div class="container" style="margin-left: 30%">
        <div class="row" style="">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">Certificate</h2>
                    <p>Our online store listed first in the latest edition of Forbes for fastest growing online
                        businesses.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li><span style="font-weight: bold; margin-right: 5px">Located at:</span> Sofia, G. M. Dimitrov
                            27
                        </li>
                        <li><span style="font-weight: bold; margin-right: 5px">Email us at:</span>office@fruity-bg.com
                        </li>
                        <li><span style="font-weight: bold; margin-right: 5px">Or call us:</span>+359 887862045</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="{% url 'landing-page' %}">Home</a></li>
                        <li><a href="{% url 'about-page' %}">About</a></li>
                        <li><a href="{% url 'shop-page' %}">Shop</a></li>
                        <li><a href="{% url 'contact-form-page' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- jquery -->
<script src="{% static '/assets/js/jquery-1.11.3.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static '/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- count down -->
<script src="{% static '/assets/js/jquery.countdown.js' %}"></script>
<!-- isotope -->
<script src="{% static '/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
<!-- waypoints -->
<script src="{% static '/assets/js/waypoints.js' %}"></script>
<!-- owl carousel -->
{#<script src=".{% static '/assets/js/owl.carousel.min.js' %}"></script>#}
<!-- magnific popup -->
<script src="{% static '/assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- mean menu -->
<script src="{% static '/assets/js/jquery.meanmenu.min.js' %}"></script>
<!-- sticker js -->
{#<script src="../../static/assets/js/sticker.js"></script>#}
<!-- main js -->
<script src="{% static '/assets/js/main.js' %}"></script>

</body>
</html>